body{
  background-color: orange;
  color: yellow;
}

h1 {
  color: red;
  font-family: helvetica, Arial;
}

h2 {
color: red;
}

header {
  color: rbg(44, 44, 44);
}

section {
  color: blue;
  background-color: grey;
}

p {
  color: black;
}
footer {
  color: black;
}
