/* website styles */

* {
  font-size: 14px;

}
{body
  background-color: black;
  color: yellow;
  font-family: 'Libre Baskerville', serif;

font-weight: lighter;

h1 {
  color: red;
  font-family: helvetica, Arial;
  font-style: italic;
}

text-align: right;
h2 {
 font-size: 18px;
   font-weight: 100;
font-style: normal;

h3 {
  font-size: 18px;
  font-style: oblique;
  text-align: right;
}

header {
  color: rbg(44, 44, 44);
  /* background-color-red;*/
}

section p {
  color: blue;
  font-size: 24pt;
  /* background- color: grey; */

  background-color: purple;
  /* background-grey */

}

p {
  color: green;
  /* font-size: 24; */


line-height 2;
text-align:justify;

}

a: hover {
  color: red;
  text-decoration: underline;
}

footer {

  color: green;
  background-color: whitesmoke;

  a: link,
  a: focus,
  a: active,
  }
  a: visited {
  color: yellow;
}

a {text-decoration: none;
}
